.{
    @import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;;
    color: white;
}

button {
    background-color: #3882f6;
    /* padding: 8px; */
    color: white;
    /* border: 1px solid white; */
    border-radius: 5%;
}

.header-container {
    display: flex;
    align-items: center;
    /* margin: 10px 40px 0px 20px; */
    justify-content: center;
    background-color: #1f2937;
}

.header a {
    justify-content: center;
    padding: 15px;
    font-size: 24px; 
    text-decoration: none;
    color: white;


}

.header img {
    width: 100px;
    height: 100px;
    margin: 20px 20px 20px ;
}
.header-links {

    margin-left: auto;
    padding: 15px;
}
.header-links ul{
    display: flex;
    gap: 8px;
}

.header-links ul li {
    list-style-type: none;
    align-items: center;
    margin-left: auto;
    font-size: 18px;
    
}

.header-links ul li a {
    text-decoration: none;
    color: white;
}

/* section 1 */
.section1 {
    display: flex;
    /* margin: 0px 40px 20px 20px; */
    justify-content: center;
    background-color: #1f2937;
    margin-bottom: 40px;
    padding: 20px;

}
.section1 img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
    
}


/* section 2 */
.section2 {
    color: black;
    /* background-color:; */
    text-align: center;
    
}

.section2 h2 {
    color: #1f2937;
    font-weight: 900;
}

.section2 .images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section2 .images img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 5%;
}

.section3 {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-family: 300;
    padding: 100px;

}

.section3 .quote {
    
    font-style: italic;
    text-align: justify;

}

.section3 .author p {
    text-align: right;
    font-size: 24px;
}

/* section 4 */
.section4 {
    /* display: flex; */
    padding: 200px;
    
}
.section4 .box {
    background-color: #3882f6;
    display: flex;
    gap: 50px;
    border-radius: 2%;
    align-items: center;
}

.section4 .content {
    /* justify-content: center;
    align-items: center; */
    padding: 20px 50px;
    
    
}

.section4 .tombol {
    /* align-items: center;
    justify-content: center; */
    margin-left: auto;
    padding: 60px;
}

.section4 button {
    border: 1px solid white;
    /* margin: 20px 40px 20px 40px; */
    padding: 5px 30px;
    border-radius: 10%;
    

}

footer {
    background-color: #1f2937;
    text-align: center;
    padding: 60px;
}